---
title: "How one government agency is creating a transparent digital democracy with GitLab"
author: Brein Matturro
author_gitlab: bmatturro
author_twitter: bnmatturro
categories: open source
image_title: "/images/blogimages/cook-county-blog-unsplash.jpg"
description: "The Cook County Assessor’s office explains how they're using GitLab
to help create a new level of government transparency."
tags: user stories, community, open source
twitter_text: "Changing government policies through transparency with @GitLab"
postType: content marketing
cta_button_text: 'Join us at our first user conferences in Brooklyn and London!'
cta_button_link: '/events/commit/'
---

At GitLab Connect Chicago, Robert Ross, chief data officer at the Cook County Assessor’s Office,
presented the talk, “An experiment in digital democracy: How the Cook County Assessor’s
Office is using GitLab to reach a new level of transparency.”

The Chicago Assessor’s Office is responsible for predicting the value of over a million pieces of
real estate and reassessing them every three years. Record keeping has always been on paper and
only recently has “marginally sophisticated computer programming” been used. Now the Assessor's Office
wants to turn the process over to software algorithms.

“In a world where the computer is doing the heavy lifting, policy is code and code is policy,”
Robert says. The algorithms used in assessing a property are dependent on a number of variables. If the
code variables are central to the assessment office, as it is for Cook County, it becomes
imperative that it is made public. “[Our office] ran on a platform of fair, ethical, and
transparent assessments. In order to achieve that third pillar, we absolutely have to publish
the code that we use to value (a) house,” Robert says.

## Modernizing software and viewpoints

The Assessment Office had a limited number of days to completely replicate the existing data
formats that were in place from the previously elected office and to create a transparent
platform where property owners could understand how their assessment came to be. There were other
challenges too, such as legacy scripts, the inability to integrate older software, and zero
assistance from the previous office.

Robert and his team turned to GitLab to publish all of their code on residential modeling.
They have four repositories with more than 880 commits, all of which the public is able to access.
“We’re using GitLab completely differently. Our product is your tax assessment and we have to
deploy the product on time because if we don’t, the entire government falls apart,” Robert says.
“We will make mistakes and we have to document those mistakes so that we can be transparent and
do our jobs as well as we can.”

## Creating radical policy shifts with transparency

The ability for property owners to access and own the information that creates their estate value
has never been done before at this level. “No county assessor has ever used a public-facing
repository for their work,” Robert says. In fact, establishing governing policies has customarily
been done behind closed doors. Cook County has taken an experimental step towards open source
government policies. “Very few government agencies do it,” he says.

The Cook County office doesn’t want to stop there. This is just the first step in what it hopes
are future electoral victories. “We need to demonstrate that transparency is ‘good politics’…
if transparency becomes a successful evolutionary trait among politicians, you get more of it.”

Want to hear about how Robert and the Cook County Assessment Office use GitLab? Watch his
presentation in its entirety here:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/K8ROmhwphMg" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

Cover image by [Element5 Digital](https://unsplash.com/@element5digital) on [Unsplash](https://unsplash.com)
{: .note}
