%script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }

:javascript
    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '63010280445',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-63010280445',
      onOrderComplete: function() {
        console.log('Eventbrite London order complete');
      }
    });

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '63012432883',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-63012432883',
      onOrderComplete: function() {
        console.log('Eventbrite Brooklyn order complete');
      }
    });

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '73836706577',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-73836706577',
      onOrderComplete: function() {
        console.log('Eventbrite Brooklyn order complete');
      }
    });