---
layout: handbook-page-toc
title: Expansion Group
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

The Expansion Group is part of the [Growth section]
and works to implement the Growth [Product Vision for Expansion](/direction/growth/expansion/) and meet the
[Expansion and Retention](/handbook/engineering/development/growth/performance-indicators/#expansion-and-user-retention)
engineering KPIs.

* I have a question. Who do I ask?

Questions should start by @ mentioning the Product Manager for the [Expansion group](/handbook/product/categories/#expansion-group)
or creating a new issue in the Growth Product [Expansion issues] list.

### How we work

* We're data savvy
* In accordance with our [GitLab values]
* Transparently: nearly everything is public
* We get a chance to work on the things we want to work on
* Everyone can contribute; no silos

### Workflow

We use the [Engineering workflow](/handbook/engineering/workflow/) when working on issues and
merge requests across multiple projects.

#### Prioritization

Prioritization is a collaboration between Product, UX, Data, and Engineering. We use the
[ICE framework](/direction/growth/#growth-ideation-and-prioritization) for experiments.

#### Tracking

While not all of the work we do relates to the GitLab project directly, we use
[milestones](https://docs.gitlab.com/ee/user/project/milestones/) to track `Deliverables` and other enhancements.

* [Milestone planning](https://gitlab.com/groups/gitlab-org/-/boards/1370834?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aexpansion)
* [Milestone deliverables](https://gitlab.com/groups/gitlab-org/-/boards/1370834?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aexpansion&label_name[]=Deliverable)
* [Workflow (progress)](https://gitlab.com/groups/gitlab-org/-/boards/1158847?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Agrowth&label_name[]=group%3A%3Aexpansion)

## Team Members

The following people are permanent members of the Expansion Group:

<%= direct_team(manager_role: 'Engineering Manager, Growth:Expansion and Retention') %>

## Stable Counterparts

We work closely with our colleagues in the [Fulfillment](/handbook/engineering/development/growth/fulfillment/)
and [Telemetry](/handbook/engineering/development/growth/telemetry/) groups.

The following members of other functional teams are our stable counterparts:

<%=
director_role = 'Director of Engineering, Growth'
direct_managers_role = 'Engineering Manager, Growth:Expansion and Retention'
roles_regexp = /[,&] (Growth)/
stable_counterparts(role_regexp: roles_regexp, direct_manager_role: direct_managers_role, other_manager_roles: [director_role])
%>

## Expansion Links
* `#g_expansion` in [Slack](https://gitlab.slack.com/archives/g_expansion) (internal)
* [Expansion issues]

## Common Links

* [Growth section]
* [Growth issues board]
* `#s_growth` in [Slack](https://gitlab.slack.com/archives/s_growth)
* [Growth Performance Indicators]
* [Growth opportunities]
* [Growth meetings and agendas]
* [GitLab values]

[Expansion issues]: https://gitlab.com/gitlab-org/growth/product/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aexpansion

[Growth section]: /handbook/engineering/development/growth/
[Growth issues board]: https://gitlab.com/groups/gitlab-org/-/boards/1158847
[Growth Performance Indicators]: /handbook/engineering/development/growth/performance-indicators/
[Growth opportunities]: https://gitlab.com/gitlab-org/growth/product
[Growth meetings and agendas]: https://docs.google.com/document/d/1QB9uVQQFuKhqhPkPwvi48GaibKDwGAfKKqcF-s3Y6og
[GitLab values]: /handbook/values/
